.parrot { color: #FF7700; }
.godfat { color: #BB0077; }

.shadow {color: #FF0000;}
.hunter  {color: #0066CC;}
.neutral {color: #CC99FF;}

.lover   {color: #FF69B4}
.religion {color: #EEAA55}
.guardian {color: #009900}